/*TODO: DELETE CSS !!*/
body {
    /*background-color: orange;*/
}

/*END DELETE CSS*/

.container {
    margin: 0 auto;

    overflow: hidden;
}

/* HEADER CSS */
.header-container {
    overflow: hidden;
}

.header {
    background-image: linear-gradient(to bottom, rgba(244, 140, 130, 0.5), rgba(239, 215, 137, 0.73)), url("../image/logo/header_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 90vh;
    padding: 28px 12px 17px 12px;
}

.header-logo {
    float: left;

    padding-bottom: 8px;
}

.header-menu {
    color: white;
    width: 20px;
    height: 20px;

    float: right;
}

.header-menu:hover + .header-link {
    position: absolute;
    right: 35px;
    top: 30px;
    background-color: black;

    display: block;
    padding: 10px 10px;
    text-align: right;
}

.header-link {
    display: none;
    float: right;
    list-style: none;
}

.header-link li {
    padding: 3px 0;
}

.header-link li a {
    text-decoration: none;
    color: white;

    padding-bottom: 8px;
}

.header-link li a:hover {
    color: #fce38a;

    border-bottom: 3px solid #fce38a;
}


.header-body-container {
    color: white;
    width: 100%;
    position: absolute;

    left: 50%;
    top: 40vh;
    transform: translateX(-50%);

    text-align: center;
}


.header-body-border {
    margin: 0 auto;
    width: 60px;
    padding-bottom: 73px;
    border-bottom: 3px solid white;
}

.learn-more-btn {
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 16px 30px;
    border: 4px solid white;

    margin-top: 50px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.learn-more-btn:hover {
    background-color: #fce38a;
}

.progress-container {
    color: white;
    position: absolute;
    width: 90%;

    left: 50%;
    top: 87vh;
    transform: translateX(-50%);
}

.progress {
    text-align: center;
    float: left;

    width: 23%;
    margin: 1% 1%;
}

.progress-bar-container {
    width: 100%;
    background-color: white;
}

.progress-bar {
    width: 0;
    height: 3px;
    margin-bottom: 10px;
    background-color: #f38181;
}

.current-placing-count {
    font-weight: bold;
    font-size: 20px;
    display: none;
}

.current-placing {
    font-size: 12px;
}

/* END HEADER CSS */

/* START BODY CSS */
.body {

}

/* END BODY CSS */


@media only screen and (min-width: 480px) {
    body {
        /*background-color: black;*/
    }
}

@media only screen and (min-width: 760px) {
    /* HEADER CSS */
    .header {
        padding: 28px 5% 17px 5%;
    }

    .header-menu {
        display: none;
    }

    .header-link {
        display: inline;
        float: right;
    }

    .header-link li {
        display: inline;
        padding-left: 20px;
    }

    .current-placing-count {
        display: block;
    }

    /* HEADER CSS */
}

@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1082px;
    }

    /* HEADER CSS */
    .header {
        padding: 28px 18px 17px 28px;
    }


    .header-link li {
        display: inline;
        padding-left: 55px;
    }

    .current-placing-count {
        display: inline;
        margin-right: 7px;
    }

    /* HEADER CSS */
}
