/*TODO: DELETE CSS !!*/
body {
    /*background-color: orange;*/
}

/*END DELETE CSS*/

.center-div {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.container {
    margin: 0 auto;
}

.theme-container {
    width: 100%;
}

.theme-attribute {
    float: left;
    height: 4px;
    width: 10%;
    max-width: 60px;

    background-color: #f38181;
    margin-right: 4px;
    margin-top: 10px;
}

.theme-attribute-name {
    font-size: 20px;
}

.theme-bottom-border {
    width: 60px;
    border: 3px solid #f38181;
}

/* HEADER CSS */
.header-container {
    overflow: hidden;
}

.header {
    background-image: linear-gradient(to bottom, rgba(244, 140, 130, 0.5), rgba(239, 215, 137, 0.73)), url("../image/logo/header_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 95vh;
    padding: 28px 12px 17px 12px;
}

.header-logo {
    float: left;

    padding-bottom: 8px;
}

.header-menu {
    color: white;
    width: 20px;
    height: 20px;

    float: right;
}

.header-menu:hover + .header-link {
    position: absolute;
    right: 35px;
    top: 30px;
    background-color: black;

    display: block;
    padding: 10px 10px;
    text-align: right;
}

.header-link {
    display: none;
    float: right;
    list-style: none;
}

.header-link li {
    padding: 3px 0;
}

.header-link li a {
    text-decoration: none;
    color: white;

    padding-bottom: 8px;
}

.header-link li a:hover {
    color: #fce38a;

    border-bottom: 3px solid #fce38a;
}


.header-body-container {
    color: white;
    width: 100%;
    position: absolute;

    left: 50%;
    top: 40vh;
    transform: translateX(-50%);

    text-align: center;
}


.header-body-border {
    width: 60px;
    margin: 0 auto 73px;
    border-bottom: 3px solid white;
}

.learn-more-btn {
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 16px 30px;
    border: 4px solid white;

    margin-top: 50px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.learn-more-btn:hover {
    background-color: #fce38a;
}

.progress-container {
    color: white;
    position: absolute;
    width: 90%;

    left: 50%;
    top: 87vh;
    transform: translateX(-50%);
}

.progress {
    text-align: center;
    float: left;

    width: 23%;
    margin: 1% 1%;
}

.progress-bar-container {
    width: 100%;
    background-color: white;
}

.progress-bar {
    width: 0;
    height: 3px;
    margin-bottom: 10px;
    background-color: #f38181;
}

.current-placing-count {
    font-weight: bold;
    font-size: 20px;
    display: none;
}

.current-placing {
    font-size: 12px;
}

/* END HEADER CSS */

/* START BODY CSS */
.body {

}

.section {
    padding: 60px 0;
    margin: 0 10px;

    overflow: hidden;
}

.section-title-container {
    margin-bottom: 45px;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.about-us-paragraph {
    margin-bottom: 104px;
}

.about-us-img-container {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

.img-wrapper {
    float: left;
    padding: 10px 0;

    margin: 0 9px;
    height: 251px;
    width: 100%;
}

.first-about-img {
    background-image: url("../image/body_images/computer_desk.png");
}

.second-about-img {
    background-image: url("../image/body_images/populated_desk.png");
}

.third-about-img {
    background-image: url("../image/body_images/non_populated_desk.png");
}

.about-us-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100%;
}


.about-us-img-info {
    color: white;
    position: relative;
    bottom: 140px;
    right: 30px;
    font-weight: bold;
    display: none;
}

.about-us-img:hover {
    position: relative;
    bottom: 10px;
    box-shadow: 10px 10px #95e1d3;
}

.first-about-img:hover {
    background-image: linear-gradient(to bottom, rgba(244, 140, 130, 0.5), rgba(239, 215, 137, 0.73)), url("../image/body_images/computer_desk.png");
}

.second-about-img:hover {
    background-image: linear-gradient(to bottom, rgba(244, 140, 130, 0.5), rgba(239, 215, 137, 0.73)), url("../image/body_images/populated_desk.png");
}

.third-about-img:hover {
    background-image: linear-gradient(to bottom, rgba(244, 140, 130, 0.5), rgba(239, 215, 137, 0.73)), url("../image/body_images/non_populated_desk.png");
}

.about-us-img:hover + .about-us-img-info {
    display: block;
}

.img-wrapper:hover {
    cursor: pointer;
}

.section-achievements {
    width: 100%;
    background-color: #95e1d3;

    overflow: hidden;
}


.achievement {
    text-align: center;
    /*float: left;*/
    padding: 20px 20%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.achievement-count {
    font-size: 50px;
}

.achievement-subject {
    font-size: 11px;
}

.services-body-container {
    overflow: hidden;
}

.service {
    /*float: left;*/
    width: 98%;
    margin: 0 auto;
    padding: 10px 1%;

    border-bottom: 1px solid #e5e5e5;
}

.service-icon {
    text-align: center;
    /*float: left;*/
    width: 100%;
}

.service-body-container {
    text-align: center;
    /*float: left;*/
    /*margin: 0 10px;*/
    overflow: hidden;
}

.section-design {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../image/body_images/mountain.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-design-front {
    padding: 110px 0 0 0;
    margin: 0 10px;
}

.tab {
    width: 60%;
}

.design-outer-devices {
    position: relative;
    top: 4px;
}

.mobile {
    position: relative;
    top: 100px;
    right: 200px;
    width: 30%;
    min-width: 50px;
}

.what-we-do-img {
    width: 40%;
    float: left;
    display: none;
}

.what-we-do-img img {
    width: 100%;
    height: 100%;
}

.what-we-do-content {
    text-align: left;
    padding-left: 10%;
    width: 80%;
    /*float: left;*/
}

.what-we-do-title {
    overflow: hidden;
    padding: 15px;
    margin-left: 10px;
    border: 1px solid #e5e5e5;
}

.wwd-title-left {
    float: left;
}

.what-we-do-classification {
    position: relative;
    bottom: 8px;
}

.wwd-title-right {
    float: right;
    margin-top: 10px;
}

.what-we-do-title:hover + .collapsed-classification {
    display: block;
}

.what-we-do-classification-body {
    height: 90px;

    overflow-y: auto;
    padding: 15px;
    margin-left: 10px;

    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.collapsed-classification {
    display: none;
}

.left-slider {
    width: 10%;
    float: left;
}

.right-container {
    width: 80%;
    float: left;
}

.slider-body {
    float: left;
    width: 90%;
}

.slider-image {
    float: left;
    width: 10%;
    padding: 42px 40px;
    border: 2px solid #95e1d3;
    display: none;
}

.comment-body {
    padding: 10px;
    float: left;
    width: 100%;
}

.right-slider {
    float: right;
}

.section-comments {
    overflow: hidden;
    background-color: #f8f8f8;
}

.first-meet-team-img {
    background-image: url("../image/body_images/team-0.png");
}

.second-meet-team-img {
    background-image: url("../image/body_images/team-1.png");
}

.third-meet-team-img {
    background-image: url("../image/body_images/team-2.png");
}


.first-meet-team-img:hover {
    background-image: linear-gradient(to bottom, rgba(244, 140, 130, 0.5), rgba(239, 215, 137, 0.73)), url("../image/body_images/team-0.png");
}

.second-meet-team-img:hover {
    background-image: linear-gradient(to bottom, rgba(244, 140, 130, 0.5), rgba(239, 215, 137, 0.73)), url("../image/body_images/team-1.png");
}

.third-meet-team-img:hover {
    background-image: linear-gradient(to bottom, rgba(244, 140, 130, 0.5), rgba(239, 215, 137, 0.73)), url("../image/body_images/team-2.png");
}

.team-intro {
    width: 100%;
    margin-top: 10px;
}

.team-intro h1 {
    font-size: 20px;
}

.team-intro h3 {
    font-size: 10px;
}


.section-brand {
    background-color: #f8f8f8;
    overflow: hidden;

    width: 100%;
}

.brand-container img {
    padding: 20px 20px;
}


.gallery-col {
    float: left;
}

.image-gallery img {
    display: block;
    width: 100%;
    height: 100%;
}

.profile-pic-container {
    margin: 0 auto;
}

.profile-pic {
    background-image: url("../image/body_images/profile_pic.png");
    background-position: center;
    border-radius: 50%;

    /*float: left;*/
    width: 212px;
    height: 212px;
}

.comment-data {
    margin-top: 50px;
}

.section-review {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.73)), url("../image/body_images/larger_mountain.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.review-col {
    width: 100%;
    /*float: left;*/
    margin-bottom: 20px;
    overflow: hidden;
}

.review {
    margin-bottom: 20px;
    overflow: hidden;
}

.review-img-col {
    width: 15%;
    float: left;
}

.review-data-col {
    float: left;
    /*margin-left: 20px;*/

    width: 80%;
}

.review-rounded-img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.line {
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

/* END BODY CSS */


@media only screen and (min-width: 480px) {
    .img-wrapper {
        width: 45%;
    }

    .achievement {
        padding: 20px 20%;
        float: left;
    }
}

@media only screen and (min-width: 760px) {
    /* HEADER CSS */
    .header {
        padding: 28px 5% 17px 5%;
    }

    .header-menu {
        display: none;
    }

    .header-link {
        display: inline;
        float: right;
    }

    .header-link li {
        display: inline;
        padding-left: 20px;
    }

    .current-placing-count {
        display: block;
    }

    .achievement {
        padding: 20px 78px;
        float: left;
    }

    /* END HEADER CSS */
    /*    BODY CSS */
    .service {
        float: left;

        width: 48%;
        margin: 0;
        padding: 10px 1%;
    }

    .what-we-do-content {
        text-align: left;
        padding-left: 10%;
        width: 80%;
    }

    .comment-body {
        width: 70%;
    }

    .slider-image {
        display: inline;
    }

    .brand-container img {
        margin: 0 1%;
        width: 10%;
    }

    .gallery-col {
        width: 300px;
    }

    .profile-pic {
        float: left;
    }

    .review-col {
        width: 45%;
        float: left;
    }

    .review-img-col {
        width: 15%;
        float: left;
    }

    .review-data-col {
        float: right;
        /*margin-left: 20px;*/

        width: 80%;
    }


    /*END BODY CSS*/
}

@media only screen and (min-width: 1220px) {
    .img-wrapper {
        width: 381px;
    }

    .container {
        max-width: 1220px;
    }

    /* HEADER CSS */
    .header {
        padding: 28px 18px 17px 28px;
    }

    .header-link li {
        display: inline;
        padding-left: 55px;
    }

    .current-placing-count {
        display: inline;
        margin-right: 7px;
    }

    /* HEADER CSS */
    /*    BODY CSS */
    .service {
        float: left;
        width: 30%;
        /*margin: 0 auto;*/
        padding: 10px 1%;

        border-bottom: 1px solid #e5e5e5;
    }

    .service-icon {
        text-align: center;
        float: left;
        width: 20%;
    }

    .service-body-container {
        text-align: center;
        overflow: hidden;
    }

    .what-we-do-img {
        display: block;
    }

    .what-we-do-content {
        float: left;
        text-align: left;
        padding-left: 10%;
        width: 40%;
    }

    /*END BODY CSS*/
}
